*.~lock*
*.tmp
0-toAdd.txt
doIt.sh
notes/
plots/
SeismicityDiary-brief.txt
SeismicityDiary-distal_Fergus.txt
SeismicityDiary-distal.txt
SeismicityDiary-explosion.txt
SeismicityDiary.html
SeismicityDiary-irish.txt
SeismicityDiary-lahar.txt
SeismicityDiary-noise.txt
SeismicityDiary-rockfall_duration.txt
SeismicityDiary-rockfall.txt
SeismicityDiary-string.txt
SeismicityDiary-swarmette.txt
SeismicityDiary.txt
SeismicityDiary-vt.txt
SeismicityDiary.xlsx
vt_strings-surface_activity-Adams_notes.xlsx
weeklyCounts-Roneike/
ZoneVClosures.docx
ZoneVClosures.xlsx
